<div class="card-container">
  <ion-card>
    <ion-card-header [color]="detail.active ? 'primary' : 'danger'">
      <span class="date">{{detail.date}}</span>
      <span class="status">
        <ion-icon [name]="!detail.active ? 'close-circle' : 'checkmark-circle'"></ion-icon>
      </span>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-text>
            Alt. parking in effect?&nbsp;<strong>{{detail.active ? 'Yes' : 'No'}}</strong>
          </ion-text>
        </ion-item>
        <ion-item lines="none" *ngIf="detail.reason && !detail.active">
          <ion-text class="ion-text-wrap">
            Explanation:&nbsp;<strong>{{detail.reason}}</strong>
          </ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="ion-text-wrap">
            Meters in effect?:&nbsp;<strong>{{detail.metered ? 'Yes' : 'No'}}</strong>
          </ion-text>
        </ion-item>
      </ion-list>
      <div class="updated" *ngIf="detail.lastUpdated">Updated {{detail.created}}</div>
    </ion-card-content>
  </ion-card>
</div>
