<div class="container" *ngIf="!isLoading">
  <div class="horizontal-container">
    <div class="month" *ngIf="active">{{active.month.long}}</div>
    <div class="swiper-container" *ngIf="items.length">
      <swiper #swiper [config]="swiperOpts" (slideChange)="onSlideChange()">
        <ng-template swiperSlide *ngFor="let item of items; let i = index">
          <div [ngClass]="{'notice': hasNotice(item, feed)}" (click)="swiper.swiperRef.slideTo(i)" class="ion-activatable ripple-parent">
            <h6 class="day-short">{{item.day.short}}</h6>
            <h5 class="day-num">{{item.day.num}}</h5>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ng-template>
      </swiper>
     <ion-button fill="clear" color="dark" class="end action-btn" (click)="swiper.swiperRef.slideNext()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="dark" class="start action-btn" (click)="swiper.swiperRef.slidePrev()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </div>
  </div>
  <app-card-detail [item]="selected" *ngIf="selected"></app-card-detail>
</div>
