<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381385318841-h2tdctkodttpnvphba1bl1ttqnl48n72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381385318841-h2tdctkodttpnvphba1bl1ttqnl48n72</string>
	<key>API_KEY</key>
	<string>AIzaSyDzMpaqn7AhoY8JLz8LdvDiTyxzmUGSYiA</string>
	<key>GCM_SENDER_ID</key>
	<string>381385318841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cymbit.paras</string>
	<key>PROJECT_ID</key>
	<string>paras-293d5</string>
	<key>STORAGE_BUCKET</key>
	<string>paras-293d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381385318841:ios:9e407bc79dc7b6fc349668</string>
	<key>DATABASE_URL</key>
	<string>https://paras-293d5.firebaseio.com</string>
</dict>
</plist>