<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>ASP NYC</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="switchCalenderView()">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-slides #slider [options]="slideOpts">
    <ion-slide>
      <horizontal-calendar></horizontal-calendar>
    </ion-slide>
    <ion-slide>
      <ion-calendar #calendar [(ngModel)]="date" (change)="onSelect($event)" (monthChange)="onMonthChange($event)" type="string" [format]="'YYYY-MM-DD'" [options]="calendarOpts"></ion-calendar>
    </ion-slide>
  </ion-slides>
</ion-content>
