<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>ASP NYC</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="switchCalenderView()">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <swiper #swiper [config]="swiperOpts">
    <ng-template swiperSlide>
      <horizontal-calendar></horizontal-calendar>
    </ng-template>
    <ng-template swiperSlide>
      <ion-calendar #calendar [(ngModel)]="date" (change)="onSelect($event)" (monthChange)="onMonthChange($event)" type="string" [format]="'YYYY-MM-DD'" [options]="calendarOpts"></ion-calendar>
    </ng-template>
  </swiper>
</ion-content>
