<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="index = !index; slider.slideTo(index ? 0 : 1)">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-slides #slider [options]="slideOpts">
    <ion-slide>
      <horizontal-calendar></horizontal-calendar>
    </ion-slide>
    <ion-slide>
      <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [type]="type" [format]="'YYYY-MM-DD'" [options]="calendarOpts"></ion-calendar>
    </ion-slide>
  </ion-slides>
</ion-content>
