<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="settingsForm" *ngIf="!isLoading">
    <ion-card>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h2>Current Day Notification</h2>
          <ion-note>{{ getNotificationMessage('today', this.settingsForm.value.today) }}</ion-note>
        </ion-label>
        <ion-select formControlName="today" [interfaceOptions]="{header: 'Current Day Notification'}">
          <ion-select-option value="none">None</ion-select-option>
          <ion-select-option value="immediately">Immediately</ion-select-option>
          <ion-select-option value="custom">Custom</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item [hidden]="true">
        <ion-label class="ion-text-wrap">
          <h2>Custom Time</h2>
          <ion-note>The time you would like to receive a notification</ion-note>
        </ion-label>
        <ion-datetime #todayDatePicker formControlName="todayCustom" disp3lay-format="h:mm A" picker-format="h:mm A" minuteValues="0,15,30,45" (ionChange)="onTodayChange($event.detail.value)" (ionCancel)="onTodayCancel()"></ion-datetime>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h2>Next Day Notification</h2>
          <ion-note>{{ getNotificationMessage('nextday', this.settingsForm.value.nextDay) }}</ion-note>
        </ion-label>
        <ion-select formControlName="nextDay" [interfaceOptions]="{header: 'Next Day Notification'}">
          <ion-select-option value="none">None</ion-select-option>
          <ion-select-option value="immediately">Immediately</ion-select-option>
          <ion-select-option value="custom">Custom</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item [hidden]="true">
        <ion-label class="ion-text-wrap">
          <h2>Custom Time</h2>
          <ion-note>The time you would like to receive a notification</ion-note>
        </ion-label>
        <ion-datetime #nextdayDatePicker formControlName="nextDayCustom" display-format="h:mm A" picker-format="h:mm A" minuteValues="0,15,30,45" (ionChange)="onNextDateChange($event.detail.value)" (ionCancel)="onNextDateCancel()"></ion-datetime>
      </ion-item>
    </ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Exception Notifications Only:</ion-label>
        <ion-checkbox formControlName="exceptionOnly" (ionChange)="save({exceptionOnly: $event.detail.checked})"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Weekend Notifications:</ion-label>
        <ion-checkbox formControlName="weekend" (ionChange)="save({weekend: $event.detail.checked})"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>Account Settings</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle slot="end" formControlName="darkMode"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
